.detail {
    text-align: center;
    display: flex;
    flex-direction: column; /* 세로 정렬을 위해 추가 */
    align-items: center; /* 가운데 정렬을 위해 추가 */
}

.hero-wod-detail {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #aee2ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 0; /* 오른쪽 마진을 0으로 변경 */
}
.user-ranks {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #abcbff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 0; /* 오른쪽 마진을 0으로 변경 */
}

@media (max-width: 820px) {
    .hero-wod-detail,
    .user-ranks {
        width: calc(100% - 60px); /* 화면 크기에 맞게 조정 */
        margin-left: 20px;
        margin-right: 20px;
    }
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.hero-wod-info,
.user-rank p {
    font-size: 18px;
    margin-bottom: 12px;
}

.hero-wod-date {
    font-size: 14px;
    text-align: right;
}

.go-back-button {
    font-size: 16px;
    padding: 8px 16px;
    margin-top: 20px;
    background-color: #abcbff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.go-back-button:hover {
    background-color: #45a049;
}

.record-add {
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin: 0 auto;
}

.record-add-input-name {
    padding: 8px;
    margin: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%; /* 입력 칸 전체 너비 사용 */
}
.record-add-input-number {
    padding: 8px;
    margin: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.record-add-input::placeholder {
    color: #999;
}

.record-add button {
    padding: 0;
    background-color: #aee2ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    width: 50%;
    margin-top: 4px;
}

.record-add button:hover {
    background-color: #0056b3;
}

.record-add-input-number,
.record-add button {
    height: 36px; /* 높이 조정 */
}
