.map-design {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    z-index: 0 !important;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.search-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.map-design-div {
    margin-bottom: 20px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal.open {
    display: block;
}

.modal-content {
    width: 400px;
    height: 300px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    border: 2px #aee2ff solid;
    background-color: #abcbff;
}

.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.name {
    color: white;
}

.box-logo {
    width: 100px;
}
