* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}
h4 {
    text-align: left;
}

.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(238, 243, 247);
}

.login {
    width: 50%;
    height: 600px;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightblue;
    margin-top: -200px;
    margin-bottom: -200px;
}

h2 {
    color: white;
    font-size: 2em;
}

.login_id {
    margin-top: 20px;
    width: 80%;
}

.login_id input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
}

.login_pw {
    margin-top: 20px;
    width: 80%;
}

.login_pw input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
}

.login_etc {
    padding: 10px;
    width: 80%;
    font-size: 14px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.submit {
    margin-top: 50px;
    width: 80%;
}
.submit button {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    background: lightgreen;
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
}
.forgot_pw {
    text-align: right;
}

@media (max-width: 700px) {
    .login {
        width: 80%;
        padding: 0;
    }

    .login_pw input,
    .login_id input {
        height: 40px;
        font-size: 14px;
    }

    .submit input {
        height: 40px;
        font-size: 1em;
    }
}
